@charset "utf-8";

body{
	font-family: "Times New Roman";
	text-align: center;
	color: white;
	background: url("forest.jpg") repeat;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
a{
	text-decoration: none;
	color: white;
}
.stroke {
	font-weight: bold;
	margin-bottom: 150px;
	font-size: 60px;
}
ul {
    margin-left: 0;
    padding-left: 0; 
   }
li {
    list-style-type: none;
   }
.element{
	font-weight: bold;
	padding-bottom: 30px;
	font-size: 35px;
}
.spisok, .spisok_min, .stroke{
	text-shadow: #363D45 0.25px 0.25px 0, #363D45 0.5px 0.5px 0, #363D45 0.75px 0.75px 0, #363D45 1px 1px 0,
                 #363D45 1.25px 1.25px 0, #363D45 1.5px 1.5px 0, #363D45 1.75px 1.75px 0, #363D45 2px 2px 0, 
                 #363D45 2.25px 2.25px 0, #363D45 2.5px 2.5px 0;
}
.spisok_min{
	margin-top: 280px;
}
.element_min{
	font-size: 20px;
	font-weight: bold;
}
